on:
  workflow_call:
    secrets:
      GHCR_BOT_USERNAME:
        required: true
      GHCR_BOT_TOKEN:
        required: true

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/reaper
  AWS_DEFAULT_REGION: us-east-1

jobs:
  docker-build:
    name: Build Image
    runs-on: ubuntu-latest
    container:
      image: docker:latest
    env:
      GHCR_BOT_USERNAME: ${{ secrets.GHCR_BOT_USERNAME }}
      GHCR_BOT_TOKEN: ${{ secrets.GHCR_BOT_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - run: echo "${GHCR_BOT_TOKEN}" | docker login ghcr.io -u ${GHCR_BOT_USERNAME} --password-stdin
      - run: docker pull $IMAGE_NAME:latest || true
      - run: docker build --cache-from $IMAGE_NAME:latest .
  deploy-build-and-push-image:
    # Pushes to GHCR no longer work after 2024-12-09 because the secrets are no longer valid.
    # I am leaving this code alive to indicate failure risks by GH actions when new code lands on main.
    # Images are being built but will never successfully push to the GHCR using the bot's auth token.
    name: Build and Push Image
    if: github.ref == 'refs/heads/main'
    needs: [docker-build]
    runs-on: ubuntu-latest
    container:
      image: docker:latest
    env:
      GHCR_BOT_USERNAME: ${{ secrets.GHCR_BOT_USERNAME }}
      GHCR_BOT_TOKEN: ${{ secrets.GHCR_BOT_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - run: echo "${GHCR_BOT_TOKEN}" | docker login ghcr.io -u ${GHCR_BOT_USERNAME} --password-stdin
      - run: docker pull $IMAGE_NAME:latest || true
      - run: docker build --cache-from ${IMAGE_NAME}:latest --tag ${IMAGE_NAME}:${{ github.sha }} --tag ${IMAGE_NAME}:latest .
      - run: docker push ${IMAGE_NAME}:${{ github.sha }}
      - run: docker push ${IMAGE_NAME}:latest
