name: Test and build

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/reaper
  AWS_DEFAULT_REGION: us-east-1

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  pytest:
    runs-on: ubuntu-latest
    container:
      image: python:alpine
    steps:
      - uses: actions/checkout@v3
      - run: pip install poetry
      - run: poetry install
      - run: poetry run pytest
  docker:
    needs: [pytest]
    uses: ./.github/workflows/docker-build.yml
    secrets:
      GHCR_BOT_USERNAME: ${{ secrets.GHCR_BOT_USERNAME }}
      GHCR_BOT_TOKEN: ${{ secrets.GHCR_BOT_TOKEN }}
